/.git
/GFG_Practice
/GoldbachFail.exe
/Help_Classmates.exe
/Help_Classmates.o
/IndiaAndItsSpirituality.exe
/IndiaAndItsSpirituality.o
/maxXOR.exe
/maxXOR.o
/MymaxXOR.exe
/subarraySum.exe
/SumOfPrime.exe
/Temp.exe